<!DOCTYPE html>
<html>
  <head>
    <title>Netflixnchill</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top" style="background-color:#9999ff">
      <%= link_to "NetflixNChill", movies_path, style:"font-size: 250%;"%>
      <%- if user_signed_in? %>
      <p>Thank you for signing in, here's 15% OFF storewide on us!</p>
      <%= link_to 'Log out', destroy_user_session_path, method: :delete, class:"btn btn-danger" %>
      <%- else %>
      <%= link_to 'Login', new_user_session_path, class:"btn btn-primary" %>
      <%= link_to 'Register', new_user_registration_path, class:"btn btn-info" %>
      <% end %>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
